<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projecto</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="container" style="">
        <nav>
            <a style="background-color:red;" href="/">Home</a>  |
            <a href="Projects">Projects</a>  |
            <a href="Contact">Contact</a>
        </nav>  
        <h3>Here are some Projects of mine!</h3>
        
        @{
            for(int i = 0; i < 3; i++)
            {
            <div>
                <img style="width:10%;" src="https://images-na.ssl-images-amazon.com/images/I/41AuNl6Yw9L._AC_.jpg" alt="Project image">
                <h5>Cool Project</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quae 
                    laborum distinctio harum, blanditiis neque? Minus nam animi accusantium, quasi 
                    ratione voluptatum quidem mollitia tempore dolorem quas obcaecati eum unde.</p>
            </div>
            }
        }
    </div>
</body>
</html>